<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true"
	convertErrorsToExceptions="true" convertNoticesToExceptions="false"
	convertWarningsToExceptions="false">
	<testsuite name="PhpSimpleRequestUnitTests">
		<!-- CHANGE TO "." WHEN OTHER BILLING TESTS OK -->
		<directory>./unit</directory>
	</testsuite>
	<testsuite name="PhpSimpleRequestIntegrationTests">
        <!-- CHANGE TO "." WHEN OTHER BILLING TESTS OK -->
        <directory>./integration</directory>
    </testsuite>
	<php>
	</php>
</phpunit>